# Install tinyml_modelmaker from the sibling repo (editable)
# Adjust path if your tinyml-tensorlab checkout is elsewhere
# Skip if Python version not supported by tinyml-modelmaker
#-e ../tinyml-tensorlab/tinyml-modelmaker

PyYAML>=6.0
pyinstaller>=6.0
